{% extends 'base/wrapper.html' %}
{% block content %}
{% load static %}
<div class="page-wrapper page">
    <div class="container container-lg">
        <form method="POST" class="register-form">
            {% csrf_token %}
            {{form.as_p}}
            <input class="register-form__btn" type="submit" value="Register">
        </form>
        
        <p>Already have an account ?<a href="{% url 'login' %}"> Login</a></p>
    </div>
    <div class="circles">
        <div class="circle circle1"><img src="{% static 'img/circle1.svg' %}" alt=""></div>
        <div class="circle circle2"></div>
        <div class="circle circle3"></div>
    </div>
</div>

{% endblock content %}